<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sinoiov" type="Sinoiov.OpenApi.ConfigurationSection.SinoiovConfigurationSection, Sinoiov.OpenApi"/>
  </configSections>
  <sinoiov environment="Test" tokenStorageIn="Redis">
    <account
      user="111"
      password="222"
      clientID="333"
      secret="444" />
    <redisOptions connectionString="192.168.1.223:6379" />
  </sinoiov>
</configuration>